<div ng-controller="languageController">
<div ng-controller="adminItemsController as itemCtrl">

  <div class="row">
   <div class="col-xs-12 col-md-12">

    <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{vm.translations.SEARCH}}" ng-model="searchBarItem">
            <span class="input-group-addon" ng-click="itemCtrl.setValueForSearch(searchBarItem)" ><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>
              
   



<div class="panel panel-default">
  <!-- Default panel contents -->
  <div id = "headingUserList" class="panel-heading"> 

   
  
<div class="row">
   <div class="col-sm-8 col-md-8"> <h4 align = "left"> <strong>{{vm.translations.ITEMS}}</strong></h4></div>
              <div class="col-sm-2 col-md-2">   
        <a  id ="BlockBtn" class="btn btn-primary" role="button" ng-click ="itemCtrl.getSelectedForBlock()" >{{vm.translations.BLOCK}}</a>  </div>
        <div class="col-sm-2 col-md-2">  
        <a  id ="UnblockBtn" class="btn btn-primary" role="button" ng-click="itemCtrl.getSelectedForUNBlock()" >{{vm.translations.UNBLOCK}}</a> 

  </div>
   </div>
   </div>

  <!-- <div class="panel-body">
    <p></p>
  </div> -->
 
  <!-- Table -->
   <div class = "row">
 <div class="col-xs-12 col-sm-12 col-md-12">
  <table class="table">
        <thead>
          <tr>
            <th><center>{{vm.translations.SELECT}}</center></th>
            <th><center>{{vm.translations.ITEMID}}</center></th>
            <th><center>{{vm.translations.ITEMNAME}}</center></th>
            <th><center>{{vm.translations.EMAIL}}</center></th>
             <th><center>Blocked</center></th>
          </tr>
        </thead>
        <tbody ng-repeat="item in itemCtrl.items">
          <tr>
            <td class="col-xs-1 col-sm-1 col-md-1"><input type="checkbox" name="users" value=" " ng-model="item.Selected"></td>
            <td class="col-xs-2 col-sm-2 col-md-2"><a ui-sref="form.admin.comments" ng-click="itemCtrl.setValue(item.itemid); gotoTop()">{{item.itemid}}</a></td>
            <td class="col-xs-3 col-sm-3 col-md-3">{{item.itemname}}</td>
            <td class="col-xs-4 col-sm-4 col-md-4">{{item.email}}</td>
            <td class="col-xs-3 col-sm-3 col-md-3">{{item.isblocked}}</td>
          </tr>
          
        </tbody>
      </table>
</div>
</div>
</div>
</div>
</div>
</div>
</div>