<div  ng-controller = "editItemController as editCtrl">
<div ng-controller="languageController "  >

 
<div class="container2" >
    <div class="row">
       <div class="col-xs-12 col-md-12">
            
<div class="thumbnail">
    

 <div class="row">
  <div class="col-sm-3 col-md-3"> <form  action="" method="post" enctype="multipart/form-data"><br><br>
               
                     <div class="upload" >

                      <input class="glyphicon glyphicon glyphicon-picture" type="file" name="upload" file-model="myFile" on-read-file="showContent($fileContent)"/>
                    
              
                   
         </div>

             </form></div>
     

      <div class="col-sm-6 col-md-6"> 
                             
                <img ng-src="{{editCtrl.item.itempicture}}" class="img-responsive">
             
</div></div>

          
           

                <form>
                   
                <div class="row">
                    
                    <div class="col-md-6">

                        <div class="form-group">
                            <label for="name">
                                {{vm.translations.ITEM}}</label>
                            <input type="text" class="form-control" id="name" value = "{{editCtrl.item.itemname}}" ng-model="editCtrl.item.itemname" placeholder="{{vm.translations.WHATIS}}" required="require">
                             <label for="nameUser">
                                {{vm.translations.FIRSTNAME}}</label>
                            <input type="text" class="form-control" id="nameUser1" value = "{{editCtrl.item.firstname}}" ng-model="editCtrl.item.firstname" placeholder="{{vm.translations.FIRSTNAME}}" required="require">
                             <label for="lastUser">
                                {{vm.translations.LASTNAME}}</label>
                            <input type="text" class="form-control" id="lastUser" value = "{{editCtrl.item.lastname}}" ng-model="editCtrl.item.lastname" placeholder="{{vm.translations.LASTNAME}}" required="require">
                             <label for="phone">
                                {{vm.translations.PHONENUM}}</label>
                            <input type="text" class="form-control" id="phone" value = "{{editCtrl.item.phonenum}}" ng-model="editCtrl.item.phone" placeholder="787-655-5678" required="require">
                        </div>
                        <div class="form-group">
                            <label for="location">
                                {{vm.translations.LOCATION}}</label>
                            <div class="input-group">
                                
                                </span>
                                <input type="input" class="form-control" id="location" value = "{{editCtrl.item.locationitem}}" ng-model="editCtrl.item.locationitem"placeholder=" {{vm.translations.PLACE}} " required="require">
                                  <label for="City">
                                {{vm.translations.CITY}}</label>
                                 <input type="input" class="form-control" id="city" value = "{{editCtrl.item.city}}" ng-model="editCtrl.item.city"placeholder=" {{vm.translations.CITY}} " ></div>
                        </div>
                           
                        </div>
                    <div class="col-md-6">
                        <div class="form-group">
                             <div class="form-group">
                                <label for="subject">
                                    {{vm.translations.CATEGORY}}</label>
                                <select id="subject" name="subject" class="form-control" required="required">
                                    
                         <option selected value = "{{editCtrl.item.category}}" ng-model="editCtrl.item.category">{{vm.translations.ALL}}</option>
                        
                         <optgroup label = "Category">
                           <option>Electronic</option>
                           <option>Books</option>
                           <option>Bags</option>
                           <option>Personal</option>
                           <option>Clothes</option>
                           <option>Other</option>
                         </optgroup>
                       </select></button>
                          
                            </div>
                            <label for="name">
                                {{vm.translations.DESCRIPTION}}</label>
                            <textarea name="message" id="message" value = "{{editCtrl.item.description}}" ng-model="editCtrl.item.description"class="form-control" rows="9" cols="25" required="required"
                                placeholder="Message"></textarea>
                        </div >
                       
                        <div class="row">
  <div class=" col-sm-7 col-md-7">
    <div  class="progress" ng-show="editCtrl.progress"><div class="progress-bar" ng-model="editCtrl.progress" style="width:{{editCtrl.progress}}%"></div></div>
                         <div ng-show="editCtrl.progress">
                         {{editCtrl.progress}}%
                         </div>
       </div> 
       
       <div class="col-md-4 col-sm-4">
    <a ng-click="editCtrl.updateUser();editCtrl.updateItem();" id ="save"type="submit" class="btn btn-primary " role="button">{{vm.translations.SAVE}}</a> 
       </div> 


                    </div>
                    </div>



                </div>

                </form>
          

        </div>


                       
    </div>

     
</div>


</div>


 
