

<div ng-controller="foundController as foundCtrl">



<nav class="navbar navbar-default" role="navigation">

    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>
    
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      
      
      
      <div class="navbar-form navbar-left btn-group">
     
      <button type="button" class="btn btn-default " ui-sref="form.reportitem({itemStatus:'Found'})"  ng-click="gotoTop()">
        {{vm.translations.REPORTFOUND}}  <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </button>
      </div>
      
      <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{vm.translations.SEARCH}}" ng-model="searchFoundItem">
            <span class="input-group-addon" ng-click="foundCtrl.setItems(searchFoundItem)" ><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>
      

    
  </div>
</nav>



<div id="list" > 

<ul class="list-group">
  <li class="list-group-item" ng-repeat="foundItem in foundCtrl.foundItems |filter:searchFoundItem">
    <div class="row">

  <div class="col-xs-12 col-sm-4"><div class="itemimg"> <div class="col-xs-12 col-sm-12 "><img ng-src={{foundItem.itempicture}}  ui-sref="form.viewitem({ item:foundItem.itemid})" ng-click="foundCtrl.addSeen(foundItem.itemid)" class="img-responsive"></div> </div></div>
  <div class="row">
  <div class="col-xs-12 col-sm-4"><h3 ><CENTER>{{foundItem.itemname}}</CENTER></h3><h5><CENTER> {{vm.translations.ITEMID}}: {{foundItem.itemid}}</CENTER></h5><h5><CENTER>{{vm.translations.CATEGORY}}: {{foundItem.category}}</CENTER></h5><h5><CENTER>{{foundItem.locationitem}}</CENTER></h5><h5><center> {{vm.translations.SEENBY}}: {{foundItem.itemviews}}</center></h5>

 </div>
  <div class="row">
  <div class="col-xs-12 col-sm-3">  
 <div class="thumbs ">
   
  <h4 ><center>{{foundItem.itemstatus}}</center></h4>
 
 <center>

 <button type="down" class="btn btn-large center" id="thumbsD" ng-click="foundCtrl.thumbsdownfunction(foundItem.itemid)"><span class="glyphicon glyphicon-thumbs-down custom"></span> </button></center></div>
 </div>
</div>
 </div>
</div>

  
  </li>
   
  

</ul>

<br>

<div class="row">

   <div class="col-sm-3 col-md-3"> 
    <button ng-hide="foundCtrl.page === 0" class= "btn-primary" ng-click="gotoTop() ; foundCtrl.get10FoundItems(-10)"align= "rigth">Previous page</button>

   </div>
  <div class="col-sm-6 col-md-6">  </div>
 <div class="col-sm-3 col-md-3"> 
<button ng-hide="foundCtrl.foundItems.length < 10" class= "btn-primary" ng-click="gotoTop() ; foundCtrl.get10FoundItems(10)"align= "rigth">Next page</button>

   </div>
  </div>
</div>
</div>
