<div ng-controller="lostController as lostCtrl">
<div class="form-group row"ng-controller="languageController">

  <nav class="navbar navbar-default" role="navigation">

    
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     
    </div>
    
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      
      
      
      <div class="navbar-form navbar-left btn-group">
     
      <button type="button" class="btn btn-default " ui-sref="form.reportitem({itemStatus:'Lost'})"  ng-click="gotoTop()">
        {{vm.translations.REPORTLOST}}  <span class="glyphicon glyphicon-circle-arrow-right"></span>
      </button>
      </div>
      
      <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="{{vm.translations.SEARCH}}" ng-model="searchLostItem">
            <span class="input-group-addon" ng-click="lostCtrl.setItems(searchLostItem)" ><span class="glyphicon glyphicon-search"></span></span>
          </div>
        </div>
      </form>
      

    
  </div>
</nav>
  

<div id="list" > 

<ul class="list-group">
  <li class="list-group-item" ng-repeat="lostitem in lostCtrl.lostItems | filter:searchLostItem">
    <div class="row">

  <div class="col-xs-12 col-sm-4"><div class="itemimg"> <div class="col-xs-12 col-sm-12"><img ng-src="{{lostitem.itempicture}}"  ui-sref="form.viewitem({ item:lostitem.itemid})" ng-click="lostCtrl.addSeen(lostitem.itemid)" class="img-responsive"></div> </div></div>
  <div class="row">
  <div class="col-xs-12 col-sm-4"><h3 ><CENTER>{{lostitem.itemname}}</CENTER></h3><h5><CENTER> {{vm.translations.ITEMID}}: {{lostitem.itemid}}</CENTER></h5><h5><CENTER>{{vm.translations.CATEGORY}}: {{lostitem.category}}</CENTER></h5><h5><CENTER>{{lostitem.locationitem}}</CENTER></h5><h5><center> {{vm.translations.SEENBY}}: {{lostitem.itemviews}}</center></h5>

 </div>
  <div class="row">
  <div class="col-xs-12 col-sm-3">  
     
 <div class="thumbs ">
    <p><h4><center>{{lostitem.itemstatus}}</center></h4></p>

 
 <center>

 <button type="down" class="btn btn-large center" id="thumbsD" ng-click="lostCtrl.thumbsdownfunction(lostitem.itemid)"><span class="glyphicon glyphicon-thumbs-down custom"></span> </button></center></div>
 </div>
</div>
 </div>
</div>

  
  
  

</ul>
<br>

<div class="row">

   <div class="col-sm-3 col-md-3"> 
    <button ng-hide="lostCtrl.page === 0" class= "btn-primary" ng-click="gotoTop() ; lostCtrl.get10LostItems(-10)"align= "rigth">Previous page</button>

   </div>
  <div class="col-sm-6 col-md-6">  </div>
 <div class="col-sm-3 col-md-3"> 
<button ng-hide="lostCtrl.lostItems.length < 10" class= "btn-primary" ng-click="gotoTop() ; lostCtrl.get10LostItems(10)"align= "rigth">Next page</button>

   </div>
  </div>

</div>
</div>